/*.alias
/*.sed
/alloca.h
/arg-nonnull.h
/assert.h
/c++defs.h
/configmake.h
/ctype.h
/errno.h
/fcntl.h
/fnmatch.h
/inttypes.h
/limits.h
/locale.h
/stdbool.h
/stdckdint.h
/stddef.h
/stdint.h
/stdlib.h
/string.h
/sys_types.h
/uchar.h
/unicase.h
/unictype.h
/uninorm.h
/unistd.h
/unistr.h
/unitypes.h
/warn-on-use.h
/wchar.h
/wctype.h
